@{
    ViewBag.Title = "Reservation";
}

<body>
    <div class="text-center">
        <p>
            <h2>Reservering</h2><br />
            <p>Haal je thuis bestelde tickets op met de reservatie ID!</p>
        </p>
        @using (Html.BeginForm())
         {
        <p>Voer het ID van je reservering in</p>
        <input type="number" name="reservationID" min="0" max="99999999999999" required />
        <input class="btn btn-danger" type="submit" value="Ophalen" />
         }
    </div>
</body>


