html, body, ul, ol {
    margin: 0;
    padding: 0
}

input {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0
}

.clearfix:before, .clearfix:after {
    display: table;
    content: " "
}

.clearfix:after {
    clear: both
}

.show {
    display: block !important
}

.hidden {
    display: none !important;
    visibility: hidden !important
}

.invisible {
    visibility: hidden
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.content.dark {
    background-color: #000000
}

.container {
    /*margin: 0 auto;*/ 
    margin-bottom: 100px;
}

@media ( min-width : 1200px) {
    .container {
        width: 1200px
    }
}

@media ( min-width : 992px) and (max-width: 1199px) {
    .container {
        width: 970px
    }

    .nav-group ul.group {
        width: 770px
    }

        .nav-group ul.group > li {
            margin-right: 20px
        }
}

@media ( min-width : 768px) and (max-width: 991px) {
    .container {
        width: 740px
    }

    .nav-group ul.group {
        width: 540px
    }

        .nav-group ul.group li {
            margin-right: 10px
        }

    .nav-avans ul.global-social li {
        margin-right: 25px
    }

    .nav-avans ul.action-items > li form.inline-search input[type="search"] {
        width: 200px
    }
}

@media ( max-width : 767px) {
    .container {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box
    }

    header#header, footer.social, footer.social {
        display: none; 
        position:absolute
    }

    header.menu-mobile {
        display: block
    }
}
.card-footer{
    background-color: black
}

.nav-avans {
    background-color: #C6002A;
    color: #fff;
    font-family: verdana, sans-serif;
    font-size: 11px;
    line-height: 40px;
    height: 40px
}

    .nav-avans .grid-test, .nav-avans .responsive-utilities-test {
        margin: 1em 2em
    }

        .nav-avans .grid-test [class*="col-"] {
            background: rgba(86, 61, 124, 0.15);
            border: 1px solid rgba(86, 61, 124, 0.2);
            padding: 10px
        }

    .nav-avans ul.global-social {
        float: left;
        margin: 0;
        padding: 0;
        list-style-type: none
    }

        .nav-avans ul.global-social li {
            display: inline;
            margin-right: 30px
        }

            .nav-avans ul.global-social li a {
                text-decoration: none;
                color: #fff
            }

                .nav-avans ul.global-social li a.active {
                    color: rgba(255, 255, 255, 0.5)
                }

                .nav-avans ul.global-social li a:hover {
                    color: #fff
                }

    .nav-avans ul.action-items {
        float: right;
        margin: 0;
        padding: 0;
        list-style-type: none
    }

        .nav-avans ul.action-items > li {
            display: inline;
            margin-left: 20px
        }

            .nav-avans ul.action-items > li a {
                text-decoration: none;
                color: #fff
            }

            .nav-avans ul.action-items > li img.action-icon {
                vertical-align: middle
            }

            .nav-avans ul.action-items > li form.inline-search {
                display: inline;
                z-index: 99;
                position: relative
            }

                .nav-avans ul.action-items > li form.inline-search input[type="search"] {
                    -webkit-appearance: none;
                    height: 30px;
                    width: 220px;
                    border: none;
                    padding-left: 25px;
                    background: white url(../../img/responsive/icon-search.png) 5px center no-repeat
                }

nav.group, nav.subnav {
    border-bottom: 1px solid #eee
}



.nav-group {
    color: #999999;
    font-family: "FrutigerLTW02-77BlackCn";
    font-size: 14px;
    width: 100%;
    padding: 30px 0px 20px 0px
}

    .nav-group ul.group {
        float: left;
        margin: 15px 0 0 0;
        padding: 0;
        list-style-type: none;
        z-index: 98;
        position: relative
    }

        .nav-group ul.group > li {
            margin-right: 30px;
            display: inline-block;
            float: left;
            height: 30px
        }

            .nav-group ul.group > li:hover a {
                color: #00AEED;
                border-bottom: 2px solid #00AEED
            }

                .nav-group ul.group > li:hover a.active {
                    color: #00AEED
                }

            .nav-group ul.group > li:last-of-type {
                margin-right: 0px
            }

            .nav-group ul.group > li > a {
                text-transform: uppercase;
                text-decoration: none;
                color: #999999;
                display: block;
                padding: 0 2px
            }

                .nav-group ul.group > li > a.active {
                    color: #000
                }

            .nav-group ul.group > li div.submenu {
                display: none;
                position: absolute;
                z-index: 1;
                background-color: #00AEED;
                color: #fff;
                top: 25px
            }

                .nav-group ul.group > li div.submenu ul {
                    list-style: none;
                    font-family: verdana, sans-serif;
                    font-size: 12px;
                    width: 220px;
                    float: left;
                    margin-left: 15px;
                    padding: 15px;
                    border-right: 2px solid #fff
                }

                    .nav-group ul.group > li div.submenu ul li.link {
                        list-style-image: url('../../img/arrow-right.png');
                    }

                    .nav-group ul.group > li div.submenu ul li {
                        height: 35px
                    }

                        .nav-group ul.group > li div.submenu ul li a {
                            text-decoration: none;
                            line-height: 30px
                        }

.nav-group ul.group > li div.submenu ul li a:hover {
                                text-decoration: underline
                            }

.nav-group ul.group > li div.submenu ul:last-of-type {
                        border-right: none
                    }

.nav-group ul.group > li:hover div.submenu {
                display: block
            }

.nav-group ul.group > li:hover div.submenu ul li a {
                    color: #fff
                }
.nav-group img.mainlogo {
        float: right;
        width: 164px;
        height: 48px;
    }

.inline-search-result {
    background-color: #00AEED;
    width: 350px;
    position: absolute;
    right: 0px;
    z-index: 9999;
}

.inline-search-result .result-set h4 {
        /*font-family: "Frutiger LT W01 65 Bold";AVANSOND-134*/
        color: #fff;
        font-size: 11px;
        text-shadow: 0px 0px rgba(255, 255, 255, .8);
        line-height: 16px;
        margin-top: 14.6px;
    }

.inline-search-result .result-set {
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        padding-left: 18px;
        line-height: 16px
    }

.inline-search-result .result-set ul {
            list-style-image: url('../../img/responsive/arrow-right.png');
            margin: 10px
        }

.inline-search-result .result-set ul li {
                min-height: 20px;
                margin-left: 5px;
                margin-top: 10px;
                margin-bottom: 10px
            }

.inline-search-result .result-set ul li a {
                    min-height: 20px
                }

#search-suggestions-close {
    float: right;
    padding: .25em .75em;
}

nav.subnav {
    font-family: "FrutigerLTW02-57Condens";
    font-size: 14px;
    width: 100%
}

    nav.subnav ul {
        float: left;
        margin: 5px 0 0 -10px;
        padding: 0;
        list-style-type: none;
        z-index: 97;
        position: relative
    }

        nav.subnav ul > li {
            margin-right: 5px;
            display: inline-block;
            float: left;
            height: 32px
        }

        nav.subnav ul > li:hover a {
                color: #00AEED
            }

        nav.subnav ul > li:hover a.active {
                    color: #00AEED
                }

        nav.subnav ul > li > a {
                text-decoration: none;
                color: #999999;
                display: block;
                padding: 0 10px;
                height: 32px;
                line-height: 32px
            }

        nav.subnav ul > li > a.active {
                    color: #000;
                    background-color: rgba(0, 174, 244, 0.15)
        }


/* The container <div> - needed to position the shareBox content */
.shareBox {
    position: relative;
    display: inline-block;
}

/* shareMenu Content (Hidden by Default) */
.shareMenu {
    margin-left: -14px;
    display: none;
    position: absolute;
    min-width: 120px;
    box-shadow: 2px 1px 4px 0px rgba(0,0,0,0.2);
    background-color: #FFFFFF;
    border: 1px solid;
    border-color: rgba(0,0,0,0.2);
    line-height: 20px;
}

    /* social inside the shareMenu */
.shareMenu a {
        color: black !important;
        padding-left: 10px;
        text-decoration: none;
        display: block;
        font-family: "FrutigerLTW02-47LightCn";
        font-size: 14px;
        line-height: 30px;
}

/* Change color of shareMenu social on hover */
.shareMenu a:hover {
   background-color: rgba(0, 174, 244, 0.15);
}

/* Show the shareMenu on hover */
.shareBox:hover .shareMenu {
    display: block;
}
