
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Niet meer beschikbaar - My ASP.NET Application</title>
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/footer-fixed.css" rel="stylesheet" type="text/css" />
    <link href="/Content/menu.css" rel="stylesheet" type="text/css" />
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
    <script>
        window.setTimeout(function () {
            window.location.href = "/UpcomingShow/Overview?locationid=1"
    }, 5000);
    </script>
</head>
<body>

    <!--Begin Avans nav bar-->
    <nav class="nav-avans" , style="height: 60px;">
        <div class="container" }>
            <a class="navbar-brand" href="/UpcomingShow/Overview?locationid=1" style="color:black; padding: 10px; font-weight: bold;">Avans Cinema</a>
            <input action="action" class="btn btn-danger" style="float: right; padding:8px; margin-top:8px" type="button" value="Terug naar vorige scherm" onclick="window.history.go(-1); return false;" />
            <ul class="global-links">
                <li>

                </li>
            </ul>
        </div>
    </nav>
    <!--End Avans nav bar-->
    <div class="container body-content">
        <h4>Er kunnen helaas geen kaartjes meer worden besteld voor deze film.<br> 
            U wordt doorgestuurd naar de overzichtspagina</h4>


        <hr />

    </div>
    <!-- Begin Footer Avans -->
    <footer class="card-footer">
        <div class="container">
            <p style="color:aliceblue">&copy; 2018 - IVH15</p><a href="/"><img src="/Content/footer-logo90x30.png" alt="Avans Hogeschool" class="footerlogo" /></a>
        </div>
    </footer>
    <!-- End Footer Avans-->
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</body>
</html>
