
@{
    ViewBag.Title = "NoReservationFound";
}

<body>
    <p>
        <h2>We hebben geen reservering met deze code kunnen vinden.</h2>
        <td>
            <button class="btn btn-danger" type="button" onclick="location.href = '@Url.Action("Reservation", "Reservation")'">Terug</button>
        </td>
    </p>
</body>


