@model Domain.Entities.Subscription

@{
    ViewBag.Title = "SuccesfulPayment";
}

<body>
    <div class="col-md-8">
        <br />
        <h4>De betaling is geslaagd!</h4>
        <p>Klik op de onderstaande knop om het pasje te printen.</p>
        <button type="button" id="oneclick" class="btn btn-danger" onclick="location.href='@Url.Action("PrintCard", "Subscription", Model)';disableButton(this)">Print kaart</button>
    </div>
</body>

