@model WebUI.Models.IdealModel

@{
    ViewBag.Title = "Ideal";
}

<h2>Ideal betaling</h2>
@using (Html.BeginForm(@*"ValidateIdeal", "Pin", FormMethod.Post, new { reservationID = Model.reservationID }*@))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="container">
            <div class="form-group">
                <label>Selecteer uw Bank: </label>
                @Html.ValidationSummary()
                @Html.EnumDropDownListFor(b => b.Bank, Model.Bank)
            </div>
            @*<button type="submit">Bevestig</button>*@
            <button type="button" id="oneclick" class="btn btn-danger" onclick="location.href='@Url.Action("Finish","Pin", new { reservationID = Model.reservationID })';disableButton(this)">Betaal &amp; Print Tickets</button>
        </div>
    </div>
}
