
@{
    ViewBag.Title = "Contact";
}

<br />
<h4><b>Routebeschrijving</b></h4>
    <div class="container">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <br>
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("FindLocation", "Contact", new { Name = "Breda"})'">Breda</button> 
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("FindLocation", "Contact", new { Name = "Eindhoven"})'">Eindhoven</button> 
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("FindLocation", "Contact", new { Name = "Tilburg"})'">Tilburg</button>
                    <br /><br />
                    @if (ViewBag.Name != null)
                     {
                     if (ViewBag.Name == "Eindhoven")
                     {
                        <h4><b>Eindhoven</b></h4>
                        <br />
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9947.622320237191!2d5.458637338900737!3d51.441527873987965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4277133f7c8e4fe8!2sPath%C3%A9+Eindhoven!5e0!3m2!1sen!2snl!4v1489408388705"
                                width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>

                     }
                     else if (ViewBag.Name == "Tilburg")
                     {
                        <h4><b>Tilburg</b></h4>
                        <br />
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19848.549734453707!2d5.065199916456671!3d51.5486389470671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x23ad188e62c0330b!2zUGF0aMOp!5e0!3m2!1sen!2snl!4v1489408302047"
                                width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>
                     }
                     else if (ViewBag.Name == "Breda")
                     {
                        <h4><b>Breda</b></h4>
                        <br />
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBDn0_YsdAYAj_ufVjAevWJMLaey-fznos&q=place_id:ChIJZ541fn2fxkcROSC7yHGvKgs&attribution_source=Google+Maps+Embed+API"
                                width="600" height="450" frameborder="0" style="margin-bottom:20px;" allowfullscreen></iframe>
                     }
                     }
                </div>
            </div>
        </div>
    </div>
