@model  List<WebUI.Models.TempTicketModel>

@{
    ViewBag.Title = "AddPopcorn";
}

<body>
    <div class="text-center">
        <p>
            <h2>Voeg popcorn toe!</h2><br />
            <p>Voor €5,- krijg je popcorn + fris! Los kost dit €6,-!</p><br />
            <p>Kies bij welke tickets je popcorn wilt toevoegen.</p><br />
        </p>
        @using (Html.BeginForm("AddPopcorn", "Ticket", FormMethod.Post))
        {
        <table align="center">
            <tr>
                <th scope="col">Ticket Nummer</th>
                <th scope="col">Prijs</th>
                <th scope="col">Type</th>
                <th scope="col">Popcorn?</th>
                <th scope="col">Extra kosten</th>
                <th scope="col">3D Bril?</th>
                <th scope="col">Extra kosten</th>
            </tr>
            @{ int j = 0;}
            @for (int i = 0; i < Model.Count; i++)
            {
                j++;
            <tr>
                <td>
                    @j <p style="display:none">@Html.TextBoxFor(x => Model[i].ReservationID)</p>
                </td>
                <td>
                    €@Html.DisplayFor(x => Model[i].Price)
                </td>
                <td>
                    @Html.DisplayFor(x => Model[i].TicketType)
                </td>
                <td>
                    @Html.CheckBoxFor(x => Model[i].Popcorn)
                </td>
                <td>
                    + €5,-
                </td>
                <td>
                    @Html.CheckBoxFor(x => Model[i].Glasses)
                </td>
                <td>
                    + €2,-
                </td>
            </tr>
            }

        </table> <br />
        <input class="btn btn-danger" type="submit" value="Voeg toe!" />
        }
    </div>
</body>