@model WebUI.Models.EmailModel

@{
    ViewBag.Title = "Unsubscribe";
}

<body>
    <br />
    <p>Wat jammer dat je je wilt afmelden voor onze nieuwsbrief!</p>
    <p>Voer hieronder je e&#45;mailadres in en klik op afmelden.</p>
    @using (Html.BeginForm("Unsubscribe", "Email", FormMethod.Post))
    {
        @Html.ValidationSummary()
        <div class="form-group">
            @Html.TextBoxFor(x => Model.EmailAdress, new { @class = "formcontrol" }) 
        </div>
        <br />
        <input class="btn btn-danger" type="submit" value="Afmelden!" />
    }
</body>

