@model  WebUI.Models.SeatLayout

@{
    ViewBag.Title = "SelectSeats";
}
<body>
    <br />
    <div class="text-center">
        <h2>Stoelselectie zaal @Html.DisplayFor(x => Model.showSeats.FirstOrDefault().RoomID)</h2>
        <br />
        <img src="~/Content/sprite-screen.png">
        <br />
        <br />
        @for (int i = 1; i <= Model.rowCount; i++)
    {
        foreach (var item in Model.showSeats)
        {
            if (item.RowNumber == i)
            {
                if (item.IsTaken == true)
                {
                    <img src="~/Content/sprite-red.png">
            }
            else if (item.IsReserved == true)
            {
                bool noCurrentReservation = true;
                foreach (var j in Model.tickets)
                {
                    if (item.SeatID == j.SeatID)
                    {
                        <img src="~/Content/sprite-purple.png">
                    noCurrentReservation = false;
                    break;
                }
            }
            if (noCurrentReservation == true)
            {
                <img src="~/Content/sprite-blue.png">
        }
    }
    else
    {
        <img src="~/Content/sprite-yellow.png">
}
}
}
    <br />
}
        <br />
        <table align="center">
            <tr>
                <td>
                    <img src="~/Content/sprite-yellow.png">
                </td>
                <td>
                    Vrije stoelen
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/sprite-red.png">
                </td>
                <td>
                    Bezette stoelen
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/sprite-blue.png">
                </td>
                <td>
                    Tijdelijk bezette stoelen
                </td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/sprite-purple.png">
                </td>
                <td>
                    Jouw selectie
                </td>
            </tr>
        </table>
        <br />
        <br />
        <button type="button" id="oneclick" class="btn btn-danger" onclick="location.href='@Url.Action("ChooseSeats", "SeatSelection", new { reservationID = Model.tickets.FirstOrDefault().ReservationID })'">Naar bevestigen</button>
    </div>
    <br /><br />
</body>
