
@{
    ViewBag.Title = "Index";
}

<div class="col-md-8">
    <br />
    <h2>Verkoop index</h2>
    <p>Maak een keuze voor verkoop</p>
    <hr />
    <button class="btn btn-danger" type="button" padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Overview", "SalesTicket")'">Kaartjes</button>
    <button class="btn btn-danger" type="button" padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("GiftCard", "Sales")'">Bioscoopbonnen</button>
    <button class="btn btn-danger" type="button" padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("AddSubscription", "Subscription")'">Abonnementen</button>
    <button class="btn btn-danger" type="button" padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("TenRides", "Sales")'">10-ritten kaart</button>
    <hr />
</div>