
@{
    ViewBag.Title = "Index";
}

<div class="col-md-12">
    <h2>Kassa index</h2>
    <hr />
    <button class="btn btn-danger" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("Overview", "SalesTicket")'">Kaartjes verkopen</button>
    <button class="btn btn-danger" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("SalesIndex", "Sales")'">MaDiWoDo bon verkopen NYI</button>
    <button class="btn btn-danger" type="button" style="float: right; padding:8px; margin-top:8px; margin-right:16px" onclick="location.href = '@Url.Action("AddSubscription", "Subscription")'">Abonnement verkopen NYI</button>
</div>